

    /* 🔒 Top login bar hide */
    .loginLinks {
        display: none;
    }

    /* ☰ Menu ke andar login show */
    .Pages ul::before {
        content: "Log In";
        display: block;
        padding: 10px 0;
        font-weight: 600;
        color: #614237;
        cursor: pointer;
    }

    /* 📱 Social icons logo ke niche */
    .mobile-social {
        justify-content: center;
        gap: 12px;
        padding: 8px 0;
        background-color: #e4e3e3;
    }

    .log {
        flex-direction: column;
        gap: 6px;
    }

    .log::after {
        content: "hello";
    }
