

    /* 🔒 Top login bar hide */
    .loginLinks {
        display: none;
    }

    /* ☰ Menu ke andar login show */
    .Pages ul::before {
        content: "Log In";
        display: block;
        padding: 10px 0;
        font-weight: 600;
        color: #614237;
        cursor: pointer;
    }

    /* 📱 Social icons logo ke niche */
    .mobile-social {
        justify-content: center;
        gap: 12px;
        padding: 8px 0;
        background-color: #e4e3e3;
    }

    .log {
        flex-direction: column;
        gap: 6px;
    }

    .log::after {
        content: "hello";
    }

    @media (max-width: 900px) {

    .lux-container {
        gap: 30px;
    }

    .lux-col {
        flex: 1 1 45%;
    }
}

@media (max-width: 600px) {

    .lux-footer {
        padding: 40px 15px 15px;
        text-align: center;
    }

    .lux-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }

    .lux-col {
        flex: 1 1 100%;
    }

    .lux-col a {
        margin: 6px 0;
    }

    .lux-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }

    .lux-icons i {
        margin-right: 0;
    }
}
