* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

}

/* <!-- Navbar start --> */
.container{
    background-image: url("./images/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-color: #614237; */
    height: 100vh;
}

.loginLinks {
    background-color: #e4e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:2em;
    padding-right:2em;
    padding-top:1em;
    /* max-width: 90%;
    margin: auto; */
}


.login{
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
.smicon{
    color: #614237;
}
.smicon:hover {
    color: #de873c;
    color: #d1bda4;
}

.log {
    background-color: #e4e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 90%;
    margin: auto; */
}
.logo {
    height: 70px;
    width: 210px;
    padding: 0;
    /* background-color: #de873c; */
}

.Pages ul {
    display: flex;
    justify-content: center;
    gap: 1.3em;
    background-color: #e4e3e3;
    list-style: none;
    /* max-width: 90%;
    margin: auto; */
    padding-bottom: 0.5em;
}
.Pages ul li{
    padding-top: 4px;
    font-size: 15px;
}

.Pages ul li:hover {
    color: #d1bda4;
    border-top: 2px solid #614237;
    cursor: pointer;

}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #614237;
}




/* <!-- Navbar end --> */
/* <!-- HeroSection Start --> */


/* <!-- HeroSection end --> */